html {
  margin: auto;
  height: 100%;
  background-color: #2d3436;
  display: table;
  color: ivory;
}

body {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 500px;
}

form {
  width: 500px;
  margin-bottom: 20px;
}

form input {
  border-radius: 15px;
  width: 100%;
  font-size: 25px;
}

input:focus {
  outline: none;
}

input {
  height: 50px;
  padding-left: 10px;
}

h1 {
  font-size: 90px;
}
h4 {
  font-size: 25px;
}

#nameBox {
  display: flex;
  align-items: center;
}

#nameBox button {
  margin-left: 10px;
}

.js-toDoList {
  list-style-type: none;
}
.clicked {
  color: red;
}

.form,
.greetings,
.delListBtn {
  display: none;
  /* font-size: 100%; */
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}

li {
  padding-bottom: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 3px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}

button:active {
  transform: scale(0.8);
}

#writeToDoLine {
  display: flex;
  align-items: center;
}

body .js-weather {
  text-align: right;
  /* font-size: 20px; */
}

@media screen and (max-width: 800px) {
  body {
    font-size: x-small;
    vertical-align: top;
  }
  .bgImage {
    height: auto;
  }
}
