body {
  color: brown;
  background-color: darkgray;
  text-align: center;
}

h1 {
  font-size: 80px;
}
.js-toDoList {
  list-style-type: none;
}
input {
  font-size: 30px;
}
.clicked {
  color: red;
}

.btn {
  cursor: pointer;
}

.form,
.greetings,
.delListBtn {
  display: none;
  font-size: 50px;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  animation: fadeIn 2s linear;
}

li {
  padding-bottom: 10px;
  font-size: 50px;
}

button {
  font-size: 30px;
}

body .js-weather {
  text-align: right;
  font-size: 20px;
}