html {
  font-size: 200%;
  margin: auto;
  height: 100%;
  background-color: #2d3436;
  display: table;
}

body {
  color: ivory;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 500px;
}

h1 {
  /* font-size: 80px; */
}

.js-toDoList {
  list-style-type: none;
}
input {
  font-size: 100%;
}
.clicked {
  color: red;
}

.btn {
  cursor: pointer;
}

.form,
.greetings,
.delListBtn {
  display: none;
  font-size: 100%;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}

li {
  padding-bottom: 10px;
  /* font-size: 50px; */
}

button {
  font-size: 70%;
}

body .js-weather {
  text-align: right;
  font-size: 20px;
}

@media screen and (max-width: 800px){
  body {
    font-size: x-small;
    vertical-align: top;
  }
  .bgImage {
    height: auto;

  }
}